.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 30px;

  @media screen and (max-width: 430px) {
    display: block;
  }
  &__logo {
    margin: 0;
    background: linear-gradient(153deg, #efefef1c, #dadada42);
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: var(--base-shadow);
  }
}
