<form (ngSubmit)="submit()" ngNativeValidate class="form">
  <mat-form-field class="form__input" appearance="outline">
    <mat-label>Full Name</mat-label>
    <input
      matInput
      required
      placeholder="Satoshi Nakamoto"
      name="fullName"
      [(ngModel)]="fullName"
    />
  </mat-form-field>
  <div class="form__inputs-group">
    <button type="button" mat-mini-fab class="form__add-field">
      <mat-icon aria-label="label" (click)="addField(this.btcAdresses, 'BTC')"
        >add</mat-icon
      >
    </button>
    <mat-form-field
      *ngFor="let input of btcAdresses; let i = index"
      class="form__input"
      appearance="outline"
    >
      <mat-label>BTC Address</mat-label>
      <input
        matInput
        placeholder="1JbM7yFVCT8e1sxZFa5sa7VEqCGCJVXQVV"
        [name]="'btcAdress' + i"
        [(ngModel)]="btcAdresses[i].address"
      />
    </mat-form-field>
  </div>
  <div class="form__inputs-group">
    <button
      type="button"
      mat-mini-fab
      class="form__add-field"
      (click)="addField(this.ethAdresses, 'ETH')"
    >
      <mat-icon aria-label="label">add</mat-icon>
    </button>
    <mat-form-field
      *ngFor="let input of ethAdresses; let i = index"
      class="form__input"
      appearance="outline"
    >
      <mat-label>ETH Address</mat-label>
      <input
        matInput
        placeholder="1JbM7yFVCT8e1sxZFa5sa7VEqCGCJVXQVV"
        [name]="'ethAdress' + i"
        [(ngModel)]="ethAdresses[i].address"
      />
    </mat-form-field>
  </div>
  <button
    class="form__submit"
    role="submit"
    mat-flat-button
    color="primary"
    *ngIf="!data"
  >
    Add Client
  </button>
  <button
    class="form__submit"
    role="submit"
    mat-flat-button
    color="primary"
    *ngIf="data"
  >
    Update Client
  </button>
</form>
