<div class="container client">
  <button
    mat-button
    color="accent"
    routerLink="/dashboard"
    class="client__back"
  >
    Back
  </button>
  <h2 class="client__title">{{ user.fullName }}</h2>
  <div class="client__row">
    <div class="client__left">
      <div class="client__graph">Graph with total balance</div>
      <div class="client__currency-list">
        <div class="client__currency">
          <mat-icon class="client__currency-head">generating_tokens</mat-icon>
          <span>{{ user.totalBtcBalance }} <b>BTC</b></span>
          <span class="client__currency-hint"
            >{{ user.totalBtcBalanceEur }} <b>EUR</b></span
          >
        </div>
        <div class="client__currency">
          <mat-icon class="client__currency-head">generating_tokens</mat-icon>
          <span>{{ user.totalEthBalance }} <b>ETH</b></span>
          <span class="client__currency-hint"
            >{{ user.totalEthBalanceEur }} <b>EUR</b></span
          >
        </div>
        <div class="client__currency">
          <mat-icon class="client__currency-head">euro_symbol</mat-icon>
          <span>
            {{ user.totalEthBalanceEur + user.totalBtcBalanceEur }}
            <b>EUR</b></span
          >
        </div>
      </div>
    </div>
    <div class="client__right">
      <div class="wallet" *ngFor="let wallet of user.addresses">
        <span
          class="wallet__value"
          [routerLink]="['wallet', wallet.id]"
          [queryParams]="{ type: wallet.type }"
        >
          {{ wallet.address }}
        </span>
        <button mat-button color="primary" routerLink="link">
          Block Explorer
        </button>
      </div>
    </div>
  </div>
  <app-transactions-history
    [data]="user.transactions"
  ></app-transactions-history>
</div>
