.portfolio-section {
  display: flex;
  height: auto;
  margin-top: 35px;
  border-radius: 15px;
  padding: 25px 25px 15px;
  box-shadow: var(--base-shadow);
  max-width: 500px;
  .search__input {
    padding: 15px;
    margin-top: 10px;
  }
  &__title {
    font-weight: 400;
    font-size: 30px;
  }

  &__subtitle {
    font-size: 24px;
    font-weight: 400;
  }

  &__profit {
    font-size: 16px;
    text-align: right;
    margin-left: 20px;
    flex: auto;
    font-weight: 400;
  }

  &__value {
    display: block;
    margin-bottom: 10px;
  }
}
