<div *ngIf="wallet" class="container client">
  <button
    mat-button
    color="accent"
    routerLink="/dashboard"
    class="client__back"
  >
    Back
  </button>
  <div class="client__header">
    <h2 class="client__title">
      {{ wallet.address }}
      <span class="client__title-hint"
        ><b>Owner:</b> {{ wallet.holderName }}</span
      >
    </h2>
    <a
      *ngIf="wallet.type === 'BTC'"
      [href]="'https://www.blockchain.com/btc/address/' + wallet.address"
      target="_blank"
      mat-flat-button
      color="primary"
      class="client__block-explorer"
    >
      Block Explorer
    </a>
    <a
      *ngIf="wallet.type === 'ETH'"
      [href]="'https://etherscan.io/address/' + wallet.address"
      target="_blank"
      mat-flat-button
      color="primary"
      class="client__block-explorer"
    >
      Block Explorer
    </a>
  </div>
  <div class="client__row">
    <div class="client__left">
      <div class="client__graph">Graph with total balance</div>
    </div>
    <div class="client__currency-list client__currency-list_l">
      <div class="client__currency">
        <mat-icon class="client__currency-head">generating_tokens</mat-icon>
        <span
          >{{ +wallet.balance === 0 ? 0 : wallet.balance }}
          <b>{{ wallet.type }}</b></span
        >
      </div>
      <div *ngFor="let token of wallet.erc20tokens" class="client__currency">
        <mat-icon class="client__currency-head">generating_tokens</mat-icon>
        <span
          >{{ +token.balance === 0 ? 0 : token.balance | number: "1.0-10" }}
          <b>{{ token.type.symbol }}</b></span
        >
      </div>
      <div class="client__currency">
        <mat-icon class="client__currency-head">euro_symbol</mat-icon>
        <span>{{ wallet.balanceEur | number: "1.0-2" }} <b>EUR</b></span>
      </div>
    </div>
  </div>
  <!-- <label class="switch client__activate-portfolio">
    <input type="checkbox" name="" id="" />
    <div class="switch__bar"></div>
    <div class="switch__circle"></div>
    <span class="switch__label">Activate Portfolio</span>
  </label>
  <div class="client__average-price">
    <b>Average Purchase Price:</b> 0.002342 ETH
  </div> -->
  <app-transactions-history
    [data]="wallet.transactions"
    [type]="wallet.type"
  ></app-transactions-history>
</div>
