.dashboard {
  padding-top: 30px;

  &__head {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px 68px;
  }

  &__caption {
    font-weight: 500;
    font-size: 56px;
    line-height: 66px;
    align-self: center;
  }
  &__currency-list {
    background-color: #f1f1f1;
    box-shadow: inset 5px 5px 4px rgb(193 193 193 / 17%),
      inset -4px -3px 6px 0px rgb(243 243 243);
    border-radius: 15px;
  }
  &__currency {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
  }

  &__currency-hint {
    font-size: 18px;
    line-height: 21px;
  }
  &__add-user {
    justify-self: start;
    font-size: 18px;
  }
  &__search {
    width: 360px;
    justify-self: end;
    padding: 11px 21px;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 16px;
    line-height: 140.62%;
    border: 0;
    background-color: #f1f1f1;
    box-shadow: inset 5px 5px 4px rgb(193 193 193 / 17%),
      inset -4px -3px 6px 0px rgb(243 243 243);

    ::placeholder {
      color: rgba(0, 0, 0, 0.5);
    }
  }
  &__users-list {
    margin-top: 57px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 37px 68px;
  }
  &__user {
    background: linear-gradient(153deg, #efefef1c, #dadada42);
    padding: 48px;
    border-radius: 20px;
    box-shadow: 4px 4px 16px rgb(136 136 136 / 19%), -4px -4px 11px white;
    filter: grayscale(0.3);
    transition: all ease 0.18s;

    &:hover {
      filter: grayscale(0);
    }
  }
  &__user-name {
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
  }
  &__user-adresses {
    margin-top: 14px;
  }

  &__user-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }

  &__btns-group {
    button {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}
