.dashboard {
  padding-top: 30px;

  &__head {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px 68px;
  }

  &__caption {
    font-weight: 500;
    font-size: 56px;
    line-height: 66px;
    align-self: center;
  }
  &__currency-list {
    display: flex;
    justify-content: space-between;
  }
  &__currency {
    width: 140px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
  }

  &__currency-hint {
    font-size: 18px;
    line-height: 21px;
  }
  &__add-user {
    justify-self: start;
  }
  &__search {
    width: 360px;
    justify-self: end;
    padding: 11px 21px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 14px;
    line-height: 140.62%;

    ::placeholder {
      color: rgba(0, 0, 0, 0.5);
    }
  }
  &__users-list {
    margin-top: 57px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 37px 68px;
  }
  &__user {
    background: #fff;
    padding: 48px;
  }
  &__user-name {
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
  }
  &__user-adresses {
    margin-top: 14px;
  }

  &__user-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
}
